main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 400px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

form label, form select, form input, form button {
    margin-bottom: 10px;
    width: 100%;
}